body{ /*Color de fons*/
background-color: #fcefd2;
text-align:center; 
}

header{
font-size:40px;
}

a{ /* Inici Home About Faq Contact */
text-decoration: initial;
font-size:40px;
color: brown;
list-style: none;
letter-spacing: 1px;
}

a:hover{ /*Que quan el ratolí es posi a sobre el text canvii*/
color: orange;
text-decoration: underline;
font-weight: 900;
}

h1{ /*Heading1 Núria Antonell Rifà*/
background-color: yellow;
font-weight: 1200;
font-size: 150px;
color: black;
background-color: #fada5e;
font-family: 'Comforter', cursive;
}

.centered{
background-color: #fada5e;
}

h2{ /*Heading2*/
font-size:27px;
color: brown;
background-color: #d2a679;
font-family: 'Comforter', cursive;
}

.grup-articles{
line-height: 25px;
text-align:center; 
font-weight: 200px;
margin: auto;
border-style: solid;
border-color: brown;
border-radius: 10px;
box-sizing: border-box;
padding: 1px;
width: 100%;
height: 25%;
min-width: 600px;
max-width: 1250px;
background-color: #fff7e6;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

ul{
font-family: 'Roboto', sans-serif;
}

.grup-articles2{
text-align:center; 
margin: auto;
display: flex;
width: 85%;
}

.titols{
text-align: center;
}
   
p{
font-family: 'Roboto', sans-serif;
}

.picturezoom:hover{
transform: scale(1.2);
}

