body{ /*Color de fons*/
background-color: #fcefd2;
text-align:center; 
overflow: scroll;
}

header{
 font-size:40px;

}

a{ /* Inici Home About Faq Contact */
    text-decoration: initial;
    font-size:40px;
    color: brown;
    list-style: none;
    letter-spacing: 1px;
}

a:hover{ /*Que quan el ratolí es posi a sobre el text canvii*/
    color: orange;
    text-decoration: underline;
    font-weight: 900;
}

h1{ /*Heading1 Núria Antonell Rifà*/
    background-color: #fada5e;
    font-family: 'Comforter', cursive;
    font-weight: 1200;
    font-size: 150px;
    color: black;
}

h2{ /*Heading2*/
    background-color: #d2a679;
    font-family: 'Comforter', cursive;
    font-size:27px;
    color: brown;
}

p{
    font-family: 'Roboto', sans-serif;

               }

ul{
    font-family: 'Roboto', sans-serif;

}


          
           
       
